<div class="card m-5">
  <!-- Título principal centrado -->
  <div class="text-2xl font-semibold text-slate-800 text-center mb-10">
    Módulo de Reportes
  </div>

  @if (dummyData.length > 0) {
    <!-- Tabla de reportes -->
    <div class="mt-6 mx-10 mt-20">
      <p-table [value]="dummyData" class="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>Entidad</th>
            <th>Fecha de carga</th>
            <th>Estado</th>
            <th>Observaciones</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.entidad }}</td>
            <td>{{ row.fecha }}</td>
            <td>
              <p-tag [value]="row.estado" [severity]="getSeverity(row.estado)" />
            </td>
            <td>{{ row.observaciones }}</td>
            <td>
              <pButtonIcon
                pButton
                type="button"
                icon="pi pi-download"
                class="p-button-text p-button-sm"
                (click)="onDescargar(row)"
                title="Descargar reporte"
              ></pButtonIcon>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>
