<div class="card">
  <!-- Menú de navegación -->
  <p-menubar [model]="filteredMenu()">
    <ng-template #end>
      <p-iconfield>

        <p-inputicon class="pi pi-search"></p-inputicon>
        <input
          type="text"
          pInputText
          placeholder="Buscar..."
          [(ngModel)]="searchQuery"
          (ngModelChange)="onSearchChange()"
        />
      </p-iconfield>

    </ng-template>
  </p-menubar>
  <!-- Breadcrumb de navegación -->
  <div class="mt-4">
    <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
  </div>

<!--  <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">-->
<!--    <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>-->
<!--  </button>-->
</div>
